body {
    font-family: Arial, sans-serif;
    
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

.timer-container {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
}

.circle-bg {
    fill: none;
    stroke: #e6e6e6;
    stroke-width: 40;
}

.circle-progress {
    fill: none;
    stroke: #4caf50;
    stroke-width: 40;
    stroke-dasharray: 1759.29;  /* Circumference of the circle, kör kerülete */
    stroke-dashoffset: 1759.29;
    transition: 1s linear all;
}

.timer-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: bold;
}

button {
    margin-top: 0px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    
}

.timer-control{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

a {
    margin-top: 200px;
}