body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
    overscroll-behavior: none;
}

.timer-container {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
}

.circle-bg {
    fill: none;
    stroke: #e6e6e6;
    stroke-width: 40;
}

.circle-progress {
    fill: none;
    stroke: #4caf50;
    stroke-width: 40;
    stroke-dasharray: 1759.29;  
    stroke-dashoffset: 1759.29;
    transition: 1s linear all;
    transform: rotate(-90deg);  
    transform-origin: 50% 50%; 
}

.timer-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: bold;
}

button {
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    float: right;
    border-radius: 10px 10px 10px;

}

.timer-control {
    margin: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    font-size: 70px;
    margin-top: -1px;
}

h2 {
    text-align: center;
    font-size: 30px;
    background-color: #04AA6D;
    color: black;
    margin-top: 20px;
    margin-left: 40%;
    margin-right: 40%;
    padding: 5px;
    border-radius: 10px 10px 10px;
}


a {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #04AA6D;
    font-size: 40px;
    text-decoration: none;
    color: black;
    border-radius: 10px 10px 10px;
}

img {
    width: 400px;
    height: 80px;
}

