
html, body {
    font-family: Arial, sans-serif;
    
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
    overscroll-behavior: none;
}

h1 {
    text-align: center;
    font-size: 60px;
}


p {
    text-align: center;

}

.main-box {
    margin-top: 100px;
}

.box {
    text-align: center;
    padding: 20px;
    margin-left: 32.5%;
    margin-right: 35%;

}

.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 40px 90px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
}


img {
    width: 400px;
    height: 80px;
}

.kep {
    margin-top: -15px;
}

.fooldal_gomb  {
    margin-right: 20px;
    padding: 10px;
    background-color: #04AA6D;
    font-size: 40px;
    text-decoration: none;
    color: white;
    float: right;
}